<div class="container-fluid">
    <div class="row h-100" style="height: 100vh !important">
        <div class="col-sm-6 h-100 bg-primary">
            <img src="./assets/img.jpeg" style="width:100% !important;height:100% !important; object-fit: cover;" alt="">
        </div>
        <div class="col-sm-6 d-flex justify-content-center align-content-center align-items-center flex-column" style="height: 100vh !important">
            <h3>Expert System for PC Troubleshooting</h3>
            <hr>
            Developed By Denen Aondoaver Shedrach
        </div>
    </div>
</div>